h1 {
    text-align: center;
}

.title {
    background-color: #003399;
    color: white;
    font-size: 1.05rem;
    margin: 0;
    padding: 0rem;
}

.card{
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

